docs/
dist/
**/.DS_Store
**/*.html
**/*.svg
**/*.venv
/handIns/two/attempt3/myenv
/handIns/three/fer/test
/handIns/three/fer/train
/handIns/three/hands/fingers
/handIns/three/hands/test
/handIns/three/hands/train
