docs/
dist/
**/.DS_Store
**/*.html
**/*.svg
**/*.venv
/handIns/two/attempt3/myenv
/handIns/three/Chess
/handIns/three/train
/handIns/three/test
/handIns/three/Chess
/handIns/three/Chess
/handIns/three/train
/handIns/three/train
/handIns/three/train
/handIns/three
